<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= homeContent %> </p>



    <% posts.forEach(post => { %>
        <%  var length = 100; %>
        <%  var myTruncatedString = post.content.substring(0, length); %>
        <h1><%= post.title %></h1> 
       <p> <%= myTruncatedString  %></p>
         <% }); %>

    


<%- include("partials/footer") -%>